body {
  margin: 0;
  background-color: #f3f4f6;
  font-family: Arial, sans-serif;
}

main {
  padding: 40px;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.card {
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgb(0 0 0 / 10%);
  text-align: center;
  width: 400px;
}

.button {
  margin-top: 15px;
  padding: 10px 20px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  background: #1e40af;
  transform: scale(1.05);
}

.teams-container {
  max-width: 1000px;
  margin: 60px auto;
  padding: 20px;
}

.division {
  background: white;
  margin-bottom: 30px;
  padding: 25px;
  border-radius: 14px;
  box-shadow: 0 10px 25px rgb(0 0 0 / 8%);
}

.division h2 {
  margin-bottom: 15px;
  border-bottom: 2px solid #eee;
  padding-bottom: 8px;
}

.division ul {
  padding-left: 20px;
}

.division li {
  margin-bottom: 10px;
  line-height: 1.6;
}

.blog-container {
  max-width: 900px;
  margin: 60px auto;
  padding: 20px;
}

.blog-card {
  background: white;
  padding: 40px;
  border-radius: 18px;
  box-shadow: 0 12px 30px rgb(0 0 0 / 8%);
  line-height: 1.8;
}

.blog-card h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.blog-card h3 {
  margin-top: 25px;
  margin-bottom: 10px;
  color: #333;
}

.blog-card ul {
  margin-top: 10px;
  padding-left: 20px;
}

.blog-card li {
  margin-bottom: 8px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #111;
  color: white;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-button {
  text-decoration: none;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.nav-button:hover {
  background-color: #ff3c00;
  transform: translateY(-2px);
}

.nav-button.active {
  background-color: #ebdad5;
}

.ravens {
  font-weight: bold;
  color: #241773;
  padding: 10px;
  border-radius: 8px;
  transition: 0.3s ease;
}

.ravens:hover {
  background-color: #241773;
  color: white;
  box-shadow: 0 0 20px rgb(155 89 182 / 80%);
}
