<header class="navbar">
  <h1 class="logo">Football</h1>

  <nav class="nav-links">
    <LinkTo @route="home" class="nav-button">Inicio</LinkTo>
    <LinkTo @route="blog" class="nav-button">Blog</LinkTo>
    <LinkTo @route="teams" class="nav-button">Teams</LinkTo>
  </nav>
</header>

<main>
  {{outlet}}
</main>